@import "../../assets/css/Mixins.scss";

.dropdown {
  position: relative;

  &__title {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    padding-left: 15px;
    color: #BBBBBB;
    font-weight: 600;
    text-align: left;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 1px 3px 0px #00000014;
    box-sizing: border-box;
    @include RotaR;
  }

  &__title::before {
    display: inline-block;
    position: absolute;
    right: 21px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #555555;
    border-right: 2px solid #555555;
    transform: rotate(135deg);
    content: "";
  }

  &__title span {
    padding-right: 20px;
    @include ellipse(1);
  }

  &__title-icon {
    width: 30px;
    height: 24px;
    margin-right: 7px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__list {
    overflow: hidden;
    position: absolute;
    height: 0;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #F4F4F4;
    border-radius: 5px;
    box-shadow: 0px 3px 10px 0px #63636333;
    box-sizing: border-box;
  }

  &__item {
    position: relative;
    width: 100%;
    height: 50px;
  }

  &__item span {
    padding-left: 9px;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    text-align: left;
    box-sizing: border-box;
    transition: .3s ease;
    @include ellipse(1);
    @include RotaR;
  }

  &__item:hover {
    span {
      @include RotaSB;
    }
    background-color: #F3F1FF;
    border-radius: 10px;
  }

  &__country {
    position: absolute;
    top: 50%;
    left: 17px;
    width: 20px;
    height: 15px;
    margin-top: -7.5px;
    background-size: cover;
  }
}

.dropdown__list.active {
  overflow-y: scroll;
  height: auto;
  max-height: 203px;
  padding: 11px;
  z-index: 9;
}

.dropdown__title.active {
  border: 2px solid #5F44FF;

  &::before {
    transform: rotate(-45deg);
  }
}

.country-dropdown {
  .dropdown__title::before {
    width: 0;
    height: 0;
    border-color: #DDDDDD transparent transparent; 
    border-style: solid; 
    border-width: 7px 5px 0; 
    transform: rotate(0);
  }

  .dropdown__item span {
    padding-left: 47px;
  }

  .dropdown__title.active::before {
    width: 0;
    height: 0;
    border-color: #DDDDDD transparent transparent; 
    border-style: solid; 
    border-width: 7px 5px 0; 
    transform: rotate(180deg);
  }
}


