@import "../../assets/css/Mixins.scss";

.pagenation {
  display: flex;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;

    button + button {
      margin-left: 16px;
    }

    button:last-child {
      margin-left: 0;
    }
  }

  &__button {
    width: 32px;
    height: 32px;
    color: #555555;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    @include RotaB;
  }

  &__more {
    margin-right: 16px;
  }

  &__button.active {
    width: 38px;
    height: 38px;
    background-color: #000000;
    color: #ffffff;
    line-height: 38px;
    border-radius: 50%;
  }

  &__arrow svg {
    display: flex;
    align-items: center;
    justify-content: center;

  }
}

.go-page {
  margin-left: 15px;

  &__wrap {
    position: relative;
  }

  p {
    margin-bottom: 2px;
    color: #888888;
    font-size: 10px;
    line-height: 1;
    @include RotaB;
  }

  input {
    width: 80px;
    height: 30px;
    padding: 3px 30px 3px 10px;
    margin: 0;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    background-color: transparent;
    box-sizing: border-box;
  }

  button {
    position: absolute;
    top: 2px;
    right: 0;
  }
}