@import "../../assets/css/Mixins.scss";

.drag-drop {
  width: 100%;
  height: 160px;
  background: rgba(187, 187, 187, 0.06);
  border-radius: 5px;
  border: 1px dashed #DDDDDD;
  margin-bottom: 15px;

  label {
    position: absolute;
    width: 100%;
    height: 160px;
    opacity: 0;
    padding: 0;
    margin: 0;
    border: none;
  }

  &.dropbox_disabled {
    filter: grayscale(50%) !important;
    p, i {
      filter: grayscale(100%) !important;
      opacity: 50% !important;
    }
  }

  &__content {
    // padding-top: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height:100%;

    i {
      display: inline-block;
      width: 32px;
      height: 38px;
    }
  }


  &__title {
    padding: 11px 0 8px;
    font-size: 18px;
    line-height: 1;
    @include RotaB;

    span {
      color: #5F44FF;
      line-height: 1;
      @include RotaB;
    }
  }

  &__text {
    color: #BBBBBB;
    font-size: 14px;
    line-height: 1;
    @include RotaSB;
  }

  &__box {
    display: flex;
    align-items: center;
    background-color: transparent;
  }

  &__item {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 20px 24px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;

    i {
      display: inline-block;
      width: 32px;
      height: 32px;
      vertical-align: middle;
    }

    p {
      max-width: 400px;
      height: 25px;
      margin-left: 5px;
      font-size: 16px;
      line-height: 25px;
      @include RotaB;
      @include ellipse(1);
    }

    span {
      display: inline-block;
      margin-top: 2px;
      margin-left: 3px;
      color: #888888;
      font-size: 14px;
      line-height: 25px;
      @include RotaR;
    }

    &.single__item {
    }
    &.error__item {
      position: relative;
      .error_text {
        position: absolute;
        bottom: -5px;
        left: 25px;
        font-size: 12px;
        line-height: 12px;
        color: #FF3B30;
        @include AcuminproR();
      }
    }
    .preview {
      display: flex;
      align-items: center;
      color: #5F44FF;
      font-size: 14px;
      @include RotaB;
  
      &::before {
        display: inline-block;
        width: 3px;
        height: 3px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 50%;
        background-color: #5F44FF;
        content: '';
      }
    }
  }


  .trash {
    position: absolute;
    right: 0;
  }

  .file-drop {
    height: 100%;
  }
  .file-drop-target {
    height: inherit;
  }
}

.drag-drop_container {
  &.multiple_container {
    .drag-drop {
      height: 100px;
    }
    .drop_icon {
      display: none;
    }
    .drag-drop__item {
      border: 0;
    }
  }
}

.drag-drop.active {
  height: auto;
  padding: 20px 19.5px;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
}