.foo_wrap {
	// min-width: 1240px;
  // max-width: 1440px;
  // height: 1046px;
  background-color: #19191B;
  color: #ffffff;
  .logo {
    width: 119px;
    height: 45px;
  }
  .inner {
    max-width: 1440px;
    width: calc(100% - 30px);
    padding-left:15px;
    padding-right:15px;
    margin: 0 auto;
  }
  .inner-top {
    padding-top: 115px;
    padding-bottom: 91px;
    border-bottom: 1px solid #555555;
  }
  .inner-btm {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}