.head_wrap {
	// min-width: 1240px;
  // max-width: 1440px;
  // width: calc(100% - 30px);
  width: 100%;
  border-bottom: 1px solid #BBBBBB;
  .logo {
    display: flex;
    width: 100px;
    height: 86px;
    a {
      display: block;
      width: 100%;
    }
  }
  .inner { 
    width: calc(100% - 30px);
    padding-left:15px;
    padding-right:15px;
  }
  &.head_white {
    .logo {
      img {
        filter: invert(100%);
      }
    }
    .nav_menu {
      .nav_item {
        a {
          color:#ffffff;
        }
      }
    }
  }
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.head_search {
  .search_input {
    width: 332px;
    padding: 14px 20px;
    background-color: #F4F4F4;
    border: 0;
    border-radius: 8px;
  }
}

.head_util {
  display: flex;
  align-items: center;
  .link_notice {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 43px;
    height: 43px;
    margin-right: 7px;
    .cnt {
      position:absolute;
      right: 5px;
      top: 0;
      display: flex;
      background-color: #FF3B30;
      border-radius: 10px;
      padding: 3px 5px;
      font-weight: 700;
      font-size: 10px;
      line-height: 10px;
      color: #ffffff;
    }
  }
}