.head_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    width: 100px;
    height: 86px;
    a {
      display: block;
      width: 100%;
    }
  }
}
