.nav_menu {
  display: flex;

  .nav_item {
    margin-right: 30px;
    font-weight: 600;
    a {
      font-weight: inherit;
    }
  }
  .menu_dropdown {
    .dropdown__title {
      height: auto;
      padding: 0;
      padding-right: 20px;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      &::before {
        right: 0;
        border-top: 1px solid #BBBBBB;
        border-right: 1px solid #BBBBBB;
      }

      span {
        padding-right: 0;
      }
    }
    .dropdown__list {
      border: 0;
      border-radius: 0;
      box-shadow: none;
    }
  }
}