@import '../assets/css/Mixins.scss';

.gallery__wrap {
  max-width: 1440px;
  padding-bottom: 199px;
  margin: 0 auto;
  .head {
    padding: 169px 0 100px;
    text-align: center;
    > p {
      font-weight: 500;
      font-size: 62px;
      line-height: 100%;
    }
    span {
      display: block;
      margin-top: 30px;
      font-weight: 600;
      font-size: 20px;
      line-height: 100%;
      color: #888888;
    }
    .btn_wrap {
      padding: 40px 0 0;
    }
  }
  .btn_wrap {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 70px 0;
    .button {
      width:250px;
    }
  }
}
// .gallery__wrap

.card-list {
  display: flex;
  justify-content: space-between;
  gap: 36px;
  .items {
    position: relative;
    flex: 1;
    padding: 27px 32px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(197, 197, 197, 0.1);
  }
  i {
    display: block;
    width: 52px;
    height: 52px;
    margin-bottom: 60px;
    border-radius: 50%;
    font-style: normal;
  }
  .title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
  }
  .desc {
    display: block;
    font-size: 16px;
    line-height: 110%;
    @include AcuminproL();
    & + .desc {
      margin-top: 18px;
    }
  }
  &.item-center {
    .items {
      height: 377px;
      text-align: center;
    }
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      margin: 0 auto 26px;
      background-color: #F4F4F4;
      span {
        font-size: 20px;
        font-weight: 700;
      }
    }
    .title {
      margin-bottom: 16px;
      font-size: 24px;
    }
    .desc {
      font-weight: 500;
      color: #888888;
    }
    .more {
      position: absolute;
      bottom: 55px;
      width: calc(100% - 64px);
    }
    .btn_chorme_download {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 25px 89px 25px 50px;
      border:1px solid #000000;
      border-radius: 100px;
      span {
        display: block;
        border-bottom: 1px solid #000000;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: -.5px;
      }
      .ico_chrome {
        position: absolute;
        right: 13px;
        width: 50px;
        height: 50px;
        margin: 0;
        background: {
          repeat: no-repeat;
          size: 50px;
          position: 0 0;
        }
      }
    }
    .ico_fox {
      width: 104px;
      height: 104px;
      border-radius: 0;
      margin: 0 auto;
      background-color: transparent;
    }
    .ico_start {
      width: 100%;
      height: 93px;
      border-radius: 0;
      margin: 0 auto;
      background: {
        color: transparent;
        repeat: no-repeat;
        size: 100%;
        position: center bottom;
      }
    }
  }
}
// .card-list

.regist_wrap {
  max-width:1021px;
  margin: 0 auto;
  .head {
    padding-top: 80px;
    p {
      font-size: 48px;
      font-weight: 700;
    }
    span {
      font-size:18px;
      line-height: 130%;
      @include AcuminproL();
    }
  }
  .form__fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #ffffff;
    padding: 20px;
    border-top: 1px solid #BBBBBB;
  }
}
// .regist_wrap
.regist__form {
  background-color: #ffffff;
  border-radius: 20px;
  .form__head {
    padding: 41px 0 39px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
    span {
      font-size: 14px;
      color: #ACACAC;
      @include AcuminproR();
    }
    p {
      font-size: 26px;
      font-weight: 700;
    }
  }
  .form__body {
    padding: 80px 123px;
  }
  .form__inputs {
    padding-bottom: 54px;
  }
  .form__inputs-head {
    display: flex;
    align-items: center;
    gap: 70px;
    .form__title {
      margin-bottom: 0;
    }
  }
  .input__input {
    height: 36px;
  }
  .form__title {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #888888;
    line-height: 100%;
  }
  .form__title--need::after {
    display: inline-block;
    position: absolute;
    top: 2px;
    right: -7px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #FD3D39;
    content: "";
  }

  .radio-tab {
    width: 100%;
    min-width: 100%;
    .radio-tab__label {
      flex: 1;
      span {
        width: 100%;
      }
    }
  }

  .dropdown.nation_code {
    .dropdown__title  {
      padding-left: 0;
      border: 0;
      border-bottom: 1px solid #dddddd;
      border-radius: 0;
      box-shadow: none;
      span {
        font-size: 20px;
        color: #888888;
      }
      &:before {
        right: 15px;
        width: 0;
        height: 0;
        border-color: #DDDDDD transparent transparent; 
        border-style: solid; 
        border-width: 7px 5px 0; 
        transform: rotate(0);
      }
      &.active::before {
        width: 0;
        height: 0;
        border-color: #DDDDDD transparent transparent; 
        border-style: solid; 
        border-width: 7px 5px 0; 
        transform: rotate(180deg);
      }
    }
  }
  .dropdown__list {
    border: 0;
  }

  .form__multi {
    display: flex;
    .input {
      width: 100%;
    }
  }

  .agree_check {
    padding: 0 50px;
    label, a {
      display: inline;
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      vertical-align: middle;
    }
    a {
      text-decoration: underline;
      color: #3685E1;
    }
    .agr_chk {
      position: relative;
      display: block;
      padding-left: 42px;
      input[type=checkbox]{
        position: absolute;
        width: 0;
        height: 0;
        top:0;
        left: 0;
        visibility: hidden;
      }
      .ico_check {
        position: absolute;
        left:0;
        top:0;
        display: inline-block;
        width: 28px;
        height: 28px;
        background: {
          size: cover;
          repeat: no-repeat;
          position: 0 0;
        }
      }
    }
  }
}
.warning__message {
  margin-top: 4px;
  .warning__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    @include AcuminproL();
    color: #888888;
  }
}
.sub__message {
  margin-top: 4px;
  @include AcuminproL();
  font-size: 14px;
  line-height: 20px;
  color: #888888;
  text-align: right;
}
// .regust__form

.gallery_confirm {
  margin-top: -87px;
  background: {
    color: #000000;
    repeat: no-repeat;
    size: contain;
    position: left bottom -110px;
  }
  .gallery__wrap {
    .head {
      color: #ffffff;
      > p {
        font-size: 82px;
      }
      span {
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
      }
      .button {
        background: linear-gradient(109.69deg, #6C54F3 36.82%, #9482FF 92.64%);
        box-shadow: 0px 16px 25px rgba(123, 101, 248, 0.25);
      }
    }
  }
}
.gallery_sorry {
  background: {
    repeat: no-repeat;
    size: contain;
    position: right bottom -60px;
  }
}