@import '../assets/css/Mixins.scss';

.displaynone {display: none !important;}
.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 0 100px;
  hr {
    display: block;
    border:0;
    margin:0;
    height: 36px;
  }
}
.board_item {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 15px 40px rgba(187, 187, 187, 0.15);
  border-radius: 10px;
  .item_inner {
    position: relative;
    padding: 39px;
  }
  .item_head {
    position: relative;
    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
    }
    .btn_head {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      color: #888888;
    }
  }
}
.nodata-content {
  display: flex;
  flex-direction: column;
  gap: 131px;
  margin-top: 38px;
  text-align: center;
  .nodata-img {
    flex: 1;
    width: 533px;
    margin: 0 auto;
  }
  p {
    flex: 1;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }
}
.dashboard_top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 36px;
  height: 425px;
}
.personal_area {
  width: calc(32.95% - 18px);
  height: 100%;
  .item_inner {
    padding-top: 37px;
    padding-bottom: 34px;
  }
  .btn__setting {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
  }
  .photo {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 24px;
    overflow: hidden;
    background: {
      color: #F4F4F4;
      repeat: no-repeat;
      position: center center;
      size: cover;
    }
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      @include translate(-50%, -50%);
      width: 100%;
      object-fit: cover;
    }
  }
  .name {
    width: calc(100% - 90px);
    p {
      margin-bottom: 6px;
      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
    }
    span {
      display: block;
      color: #888888;
      font-size: 14px;
      line-height: 100%;
      @include AcuminproR();
    }
  }
  .count {
    margin-bottom: 15px;
    .item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 18px 0;
      gap: 20px;
      border-top: 1px solid #F4F4F4;
      &:first-child {
        border-top: 0;
      }
      p {
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        color: #888888;
      }
      strong {
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
      }
    }
  }
  .btnwrap {
    .button {
      width: 100%;
      margin-top: 15px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.personal_status {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: calc(67.05% - 18px);
  height: 100%;
  .status_count {
    .item_inner {
      display: flex;
      justify-content: space-between;
      padding-top: 24px;
      padding-bottom: 24px;
      padding-right: 0;
    }
    .status_items {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0 15px;
      padding-left: 5%;
      border-left: 1px solid #F4F4F4;
      font-weight: 700;
      font-size: 28px;
      line-height: 100%;
      &:first-child {
        padding-left: 0;
        border-left: 0;
      }
      .desc {
        width: 100%;
        margin-top: 5px;
        padding-left: 35px;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        color: #BBBBBB;
      }
    }
    .more {
      display: flex;
      align-items: center;
      width: 20px;
      height: 20px;
    }
  }
  .current_bid {
    height: 100%;
    .item_inner {
      padding-top: 30px;
      padding-bottom: 20px;
    }
  }
  .nodata {
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 0;
    padding-top: 51px;
    .nodata-img {
      width: 153.04px;
      height: 95.69px;
    }
    .nodata-desc {
      text-align: left;
      p {
        margin: 0;
        margin-bottom: 11px;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        text-align: left;
      }
      span {
        display: block;
        font-size: 16px;
        line-height: 120%;
        @include AcuminproR();
        color: #888888;
      }
    }
  }
  .bid_list {
    margin-top: 15px;
    li {
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }
      &:nth-child(odd) {
        .items {
          background-color: #FAFAFA;
        }
      }
    }
    .items {
      position: relative;
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 23px 20px;
      border-radius: 10px;

      @include AcuminproR();
      &:first-child {
        margin-top: 0;
      }
      &:before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color: #BDBDBD;
      }
    }
    .artist_nm {
      width: 20%;
      font-size: 16px;
      line-height: 120%;
      @include ellipse(2);
    }
    .work_nm {
      width: 40%;
      font-size: 16px;
      line-height: 120%;
      color: #888888;
      @include ellipse(1);
    }
    .wallet_nm {
      width: 13%;
      font-size: 16px;
      line-height: 120%;
      color: #BBBBBB;
      @include ellipse(1);
    }
    .price {
      width: 27%;
      text-align: right;
      p {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
      }
      .unit {
        display: inline-flex;
        padding: 5px;
        margin-left: 6px;
        background: rgba(136, 136, 136, 0.1);
        border-radius: 2px;
        font-weight: 700;
        font-size: 15px;
        line-height: 100%;
        color: #888888;
      }
      .date {
        font-size: 14px;
        line-height: 120%;
        @include AcuminproR();
        color: #BBBBBB;
      }
    }
  }
}
.dashboad_curating {
  .nodata {
    width: 315px;
    margin: 100px auto;
    text-align: center;
    img {
      max-width: 230px;
    }
    p {
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
    }
  }
  .curation_content {
    display: flex;
    margin-top: 60px;
  }
  .curation_total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 195px;
    p {
      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      color: #BBBBBB;
    }
    strong {
      font-weight: 700;
      font-size: 62px;
      line-height: 100%;
    }
  }
  .curation_list {
    display: flex;
    width: calc(100% - 195px);
    .curation_items {
      position: relative;
      flex: 1;
      margin-right: 56px;
      background: #FFFFFF;
      box-shadow: 0px 15px 40px rgba(187, 187, 187, 0.15);
      border-radius: 10px;
      overflow: hidden;
    }
    .figure {
      position: relative;
      width: 100%;
      padding-top: 118.019%;
      overflow: hidden;
      background-color: #F0F0F0;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        @include translate(-50%, -50%);
        width: 100%;
        object-fit: cover;
      }
    }
    .desc {
      padding: 34px 22px;
      p {
        height:18px;
        @include AcuminproM();
        font-size: 16px;
        line-height: 100%;
        @include ellipse(1);
      }
      span {
        display: block;
        margin-top: 10px;
        font-size: 18px;
        line-height: 120%;
        color: #888888;
        @include ellipse(2);
      }
    }
    .curation_time-tag {
      position: absolute;
      right: 20px;
      top: 20px;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      padding: 6px 10px;
      gap: 5px;
      background: #FFFFFF;
      border: 1px solid #000000;
      border-radius: 100px;
      z-index: 1;
    }
  }
}
.dashboad_half {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 36px;
  min-height: 500px;
  .board_item {
    flex: 1;
    width: 50%;
    .item_inner {
      height: calc(100% - 78px);
    }
  }
}

// slick slider style
.slick-slider {
  height: calc(100% - 24px);
  .slick-list {
    height: 100%;
  }
  .slick-track {
    height: inherit;
  }
  .slick-arrow {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    &.slick-disabled {
      opacity: 0.3;
    }
    &.arrow-next {

    }
    &.arrow-prev {
      right: 49px;
    }
  }
  .slide-item {
    .title {
      margin-bottom: 6px;
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      color: #888888;
    }
  }
  .work_info {
    display: flex;
    align-items: center;
    padding: 40px 0;
    margin-left: 1px;
    .figure {
      width: 158px;
      margin-right: 9.616%;
      border-radius: 5px;
      overflow: hidden;
    }
    .name {
      margin-bottom: 15px;
      @include AcuminproM();
      font-size: 18px;
      line-height: 100%;
    }
    .desc {
      display: block;
      margin-bottom: 15px;
      @include AcuminproR();
      font-size: 20px;
      line-height: 120%;
      color: #9F9F9F;
    }
    .number {
      display: inline-flex;
      align-items: center;
      padding: 8px;
      background: #F4F4F4;
      border-radius: 5px;
      @include AcuminproR();
      font-size: 16px;
      line-height: 100%;
      color: #888888;
    }
  }
  .price_info {
    margin-bottom: 40px;
    &:last-of-type {
      margin-bottom: 0;
    }
    &.info-half {
      display: flex;
      gap: 23px;
      > div {
        flex: 1;
        flex-direction: column;
      }
      .price_box {
        gap: 10px;
        flex-direction: column;
        align-items: flex-end;
      }
    }
    .price_box {
      display: flex;
      justify-content: space-between;
      background: #F4F4F4;
      border-radius: 5px;
      padding: 18px 30px;
      > div {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .unit {
        display: inline-flex;
        align-items: center;
        padding: 5px 9px;
        background: rgba(136, 136, 136, 0.1);
        border-radius: 2px;
        font-weight: 700;
        font-size: 15px;
        line-height: 100%;
        color: #888888;
      }
      .currency {
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
      }
      .crypto {
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        color: #888888;
      }
    }
  }
}