@import '../assets/css/Mixins.scss';

.main_regist-wrap {
  max-width: 1021px;
  padding-bottom: 199px;
  margin: 0 auto;
  .head {
    padding: 80px 0 60px;
    text-align: center;
    > p {
      font-weight: 700;
      font-size: 48px;
      line-height: 100%;
    }
    span {
      display: block;
      margin-top: 30px;
      @include AcuminproL();
      font-size: 18px;
      line-height: 130%;
      color: #888888;
    }
    .btn_wrap {
      padding: 40px 0 0;
    }
  }
  .btn_wrap {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 70px 0;
    .button {
      width:250px;
    }
  }

  .dropdown.artist_list {
    .dropdown__title  {
      padding-left: 0;
      border: 0;
      border-bottom: 1px solid #dddddd;
      border-radius: 0;
      box-shadow: none;
      span {
        display: flex;
        align-items: center;
        font-size: 20px;
        color: #888888;
        svg {
          margin-right: 5px;
        }
      }
      &:before {
        right: 15px;
        width: 0;
        height: 0;
        border-color: #DDDDDD transparent transparent; 
        border-style: solid; 
        border-width: 7px 5px 0; 
        transform: rotate(0);
      }
      &.active::before {
        width: 0;
        height: 0;
        border-color: #DDDDDD transparent transparent; 
        border-style: solid; 
        border-width: 7px 5px 0; 
        transform: rotate(180deg);
      }
    }
    .dropdown__list {
      width: 100%;
    }
  }

  .button-position {
    display: flex;
    justify-content: space-between;
  }

  .question-bubble__wrap {
    position: absolute;
    min-width: 210px;
    padding: 13px 23px;
    color: #ffffff;
    letter-spacing: -0.7px;
    background-color: #5F44FF;
    border-radius: 6px;
    box-shadow: 0px 5px 15px 0px rgb(5 16 55 / 10%);
    font-size: 14px;
    line-height: 120%;
    @include AcuminproR();
  }

  .regist__form {
    .form__title {
      display: inline-flex;
      align-items: center;
    }
    .question-bubble {
      position: absolute;
      right: -27px;
    }
    .form__inputs.form_multi {
      display: flex;
      justify-content: space-between;
      gap: 38px;
      > div  {
        flex: 1;
      }
    }
    .depth_check {
      display: flex;
      align-items: center;
      svg {
        margin-top: 5px;
      }
    }
  }
}