@import "../assets/css/Mixins.scss";

.status {
  position: relative;
  padding: 0 4px;

  &::before {
    display: block;
    position: absolute;
    top: 20px;
    left: 30px;
    width: calc(100% - 40px);
    height: 5px;
    background-image: url('../../public/assets/images/page/activity/img_status.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9;
    content: '';
  }

  ol {
    display: flex;
    justify-content: space-between;
  }

  li {
    position: relative;
    padding-top: 52px;
  }

  li:nth-child(2) {
    padding-left: 10px;
  }

  p {
    font-size: 16px;
    @include RotaB;
  }

  span {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 0;
    height: 5px;
    background: linear-gradient(180deg, #5F44FF 64.89%, #5F44FF 100%);
    transition: .5s ease-in-out;
    z-index: 99;
    content: '';
  }

  .step1 {
    span {
      left: 0;
    }

    &::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 48px;
      background-image: url('../../public/assets/images/page/activity/img_status_1.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 999;
      content: '';
    }
  }

  .step2 {
    span {
      left: -120px;
    }
 
    &::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 48px;
      background-image: url('../../public/assets/images/page/activity/img_status_2.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 999;
      content: '';
    }
  }

  .step3 {
    span {
      left: -300px;
    }
 

    &::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 48px;
      background-image: url('../../public/assets/images/page/activity/img_status_3.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 999;
      content: '';
    }
  }

  .step4 {
    span {
      left: -500px;
    }

    &::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 48px;
      background-image: url('../../public/assets/images/page/activity/img_status_4.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 999;
      content: '';
    }
  }
}