@import '../assets/css/Mixins.scss';

.curation {
  min-height: 1080px;

  &__wrap {
    max-width: 1440px;
    padding-top: 60px;
    margin: 0 auto;
  }

  &__wrap::after {
    display: block;
    content: '';
    clear: both;
  }

  h2 {
    padding-top: 50px;
    padding-bottom: 80px;
    font-size: 64px;
    line-height: 1;
    @include RotaB;
  }

  .pagenation {
    margin-top: 30px;
    margin-bottom: 157px;
    justify-content: flex-end;
  }

  .nodata {
    padding-left: 330px;
  }
}

.curation-filter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;

  &__header {
    position: relative;
    width: 100%;
    padding: 20px;
    font-size: 16px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px #00000014;
    box-sizing: border-box;
    @include RotaB;

    &::before {
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 26px;
      width: 8px;
      height: 8px;
      margin-top: -4px;
      border-bottom: 2px solid #555555;
      border-right: 2px solid #555555;
      transform: rotate(45deg);
      box-sizing: border-box;
      content: '';
    }
  }

  &__header--acitve::before {
    transform: rotate(225deg);
  }

  &__checkbox {
    margin-top: 20px;

    button {
      margin-top: 20px;
      margin-left: calc(100% - 59px);
      color: #366DFC;
      font-size: 14px;
      text-align: right;
      @include AcuminproR;
    }
  }

  &__wrap {
    width: 330px;
  }

  &__content {
    position: absolute;
    width: 330px;
    margin-top: 30px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 15px 40px 0px #BBBBBB26;
    box-sizing: border-box;
    z-index: 9;
  }

  &__content-title {
    display: block;
    position: relative;
    width: 100%;
    color: #000000;
    font-size: 16px;
    text-align: left;
    @include RotaB;

    &::before {
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 6px;
      width: 8px;
      height: 8px;
      margin-top: -8px;
      border-bottom: 2px solid #555555;
      border-right: 2px solid #555555;
      transform: rotate(45deg);
      box-sizing: border-box;
      content: '';
    }
  }

  &__content-title--active::before {
    transform: rotate(225deg);
  }

  &__item+&__item {
    border-top: 1px solid #EEEEEE;
    padding-top: 20px;
  }

  .checkbox_wrap .ico_chkbox {
    position: absolute;
    right: 0;
    margin-right: 0;
  }

  .checkbox_wrap label {
    width: 100%;
    color: #555555;
  }

  .checkbox_wrap+.checkbox_wrap {
    margin-top: 10px;
  }

  .curation-filter__item+.curation-filter__item {
    margin-top: 20px;
  }

  &__dropdown {
    display: flex;
    align-items: center;

    p {
      margin-left: 15px;
      color: #888888;
      font-size: 16px;
      @include AcuminproR;
    }
  }
}

.curation-list {
  margin-top: 30px;
  margin-left: -35px;

  &::after {
    display: block;
    content: '';
    clear: both;
  }

  &__item {
    float: left;
    position: relative;
    width: calc((100% - 144px)/ 4);
    border-radius: 10px;
    box-shadow: 0 15px 40px 0 rgba(187, 187, 187, .15);

    &:hover {
      box-shadow: 0 25px 40px 0 rgba(96, 69, 255, .15);
    }
  }

  &__item:nth-child(2n) {
    margin-left: 35px;
  }

  &__item:nth-child(2n+1) {
    margin-left: 35px;
  }

  &__item:nth-child(n+5) {
    margin-top: 140px;
  }

  &__img {
    overflow: hidden;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 390px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #F0F0F0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    span {
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      transform: translate(-50%, -50%);
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: 33px 22px 48px;
    background-color: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 16px;
    @include AcuminproM;
    @include ellipse(1);
  }

  &__desc {
    color: #888888;
    font-size: 18px;
    line-height: 22px;
    @include AcuminproR;
    @include ellipse(2);
  }
}

.curation-list--active {
  padding-left: 370px;

  .curation-list__item {
    width: calc((100% - 110px) / 3);


    &:nth-child(n+4) {
      margin-top: 140px;
    }
  }
}

.curation-side {
  width: 100%;
  padding: 50px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0px 15px 40px 0px #BBBBBB26;

  &__img {
    display: inline-block;
    width: 460px;
    height: 270px;
    border-radius: 5px;
    background-color: #D9D9D9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__more {
    display: flex;
    margin: 20px auto 0;
    color: #000000;
    font-size: 15px;
    line-height: 1;
    text-align: center;
    @include AcuminproL;
  }

  &__list {
    margin-top: 40px;
  }

  &__item {
    display: flex;
    text-align: left;
  }

  &__item+&__item {
    margin-top: 23.5px;
  }

  &__title {
    width: 180px;
    color: #888888;
    font-size: 16px;
    @include RotaB;
  }

  &__text {
    width: calc(100% - 180px);
    font-size: 16px;
    line-height: 20px;
    white-space: pre-line;
    @include AcuminproL;
    @include ellipse(2);
  }

  &__result {
    margin-top: 17px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(178.21deg, #5F44FF 50%, #9482FF 113.28%);
    box-shadow: 2px 2px 3px 0px rgba(174, 159, 255, 1) inset;
    box-sizing: border-box;

    div:nth-child(3)>p {
      font-size: 20px;
    }

    div+div {
      margin-top: 12px;
    }
  }

  &__result-title {
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 16px;
    text-align: left;
    @include RotaB;
  }

  &__box {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    p {
      width: 100%;
      color: #ffffff;
      font-size: 30px;
      line-height: 1;
      text-align: right;
      @include RotaB;
      @include ellipse(1);
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 21px;
      margin-left: 12px;
      color: #ffffff;
      font-size: 15px;
      line-height: 1;
      background: rgba(241, 203, 255, 0.2);
      border-radius: 2px;
      @include RotaB;
    }
  }



}


.curation_time-tag {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 6px 10px;
  gap: 5px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 100px;
  z-index: 1;
}

.curation-about {
  margin-top: 30px;
  margin-bottom: 343px;
  padding: 40px 50px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 15px 40px 0px #BBBBBB26;

  >div+div {
    margin-top: 25px;
  }

  &__header {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 27px;
    text-align: left;
    font-size: 20px;
    @include RotaB;

    &::after {
      display: block;
      position: absolute;
      right: 0;
      bottom: 35px;
      width: 7px;
      height: 7px;
      border-top: 2.5px solid #888888;
      border-right: 2.5px solid #888888;
      transform: rotate(135deg);
      content: '';
    }
  }

  &__content {
    border-bottom: 1px solid #EEEEEE;

    >p {
      padding-bottom: 30px;
      color: #555555;
      font-size: 16px;
      @include AcuminproL;
    }
  }

  &__content--nft {
    border-bottom: none;
  }

  &__content--history {
    .curation-about__item:last-child {
      padding-bottom: 30px;
    }
  }

  &__list {
    div+div {
      border-top: 1px solid #EEEEEE;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    margin: 7.5px 0;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;

    p:nth-child(1) {
      width: 67px;
      color: #888888;
      font-size: 16px;
      line-height: 19px;
      @include RotaB;
      @include ellipse(1);
    }

    p:nth-child(2) {
      width: calc(100% - 200px);
      color: #000000;
      font-size: 16px;
      line-height: 19px;
      @include AcuminproL;
      @include ellipse(2);
    }

    p:nth-child(3) {
      width: 110px;
      height: 38px;
      color: #888888;
      font-size: 16px;
      line-height: 19px;
      @include AcuminproR;
      @include ellipse(2);
    }
  }

  &__title {
    width: 160px;
    color: #888888;
    font-size: 16px;
    @include RotaB;
  }

  &__text {
    width: calc(100% - 160px);
    text-align: right;
    @include AcuminproR;
  }


  &__content-wrap {
    display: flex;
    align-items: center;
  }

  &__img {
    position: relative;
    width: 68px;
    height: 68px;
    margin-right: 30px;
    border-radius: 20px;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      object-fit: cover;
    }
  }

  &__box {
    width: calc(100% - 100px);
  }

  &__titles {
    font-size: 16px;
    @include AcuminproM;
    @include ellipse(1);
  }

  &__year {
    color: #888888;
    font-size: 16px;
    @include AcuminproM;
  }

  &__download {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &__type {
    color: #888888;
    font-size: 16px;
    line-height: 1;
    @include RotaB;
  }

  &__description-country {
    width: 300px;
    margin-top: 5px;
    font-size: 16px;
    line-height: 1;
    @include AcuminproM;
    @include ellipse(1);
  }

  &__download-button {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 42px;
      height: 42px;
      margin-left: 10px;
      background-color: #F4F4F4;
      border-radius: 10px;
    }
  }

  &__description {
    margin-top: 5px;
    padding-bottom: 30px;
    color: #555555;
    font-size: 16px;
    line-height: 25px;
    @include AcuminproL;
  }

}

.curation-about .active {
  .curation-about__header {
    &::after {
      transform: rotate(-45deg);
    }
  }
}

.curation-evaluation {
  position: relative;
  margin-top: 70px;
  padding: 39px 52px;
  margin-bottom: 343px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 25px 40px 0px #DCDCDC40;

  &__medal {
    display: flex;
    position: absolute;
    top: 0px;
    right: 40px;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 45px;
    padding: 10px;
    background-color: #5F44FF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-sizing: border-box;

    p {
      color: #ffffff;
      font-size: 16px;
      @include RotaB;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1;
    @include RotaB;
  }

  &__title--disabled {
    color: #BBBBBB;
    font-size: 20px;
    line-height: 1;
    @include RotaB;
  }

  &__count {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    margin-left: 15px;
    padding-top: 4px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    box-sizing: border-box;

    p {
      color: #BBBBBB;
      font-size: 36px;
      @include RotaB;
    }

    span {
      display: inline-block;
      color: #000000;
      font-size: 36px;
      @include RotaB;
    }
  }

  &__number--disabled {
    background-color: #F4F4F4;
    border: none;

    span {
      color: #BBBBBB;
    }
  }

  .bubble {
    position: absolute;
    min-width: 308px;
    padding: 13px 18px 10px 18px;
    margin-left: 280px;
    border-radius: 6px;
    border: 1px solid #366DFC;
    background-color: #EDF2FF;
    box-shadow: 0px 2px 10px 0px #A8A8A840;
    box-sizing: border-box;
   
    .bubble-left-center {
      color: #366DFC;
      font-size: 14px;
      line-height: 18px;
      @include AcuminproL;
    }

    span {
      display: inline-block;
      margin-left: 3px;
      font-size: 14px;
      line-height: 18px;
      font-weight: 600 !important;
      @include AcuminproM;
    }

    &::before {
      display: block;
      position: absolute;
      width: 13px;
      height: 13px;
      background-color: #EDF2FF;
      top: 50%;
      left: -3px;
      transform: rotate(-45deg) translateY(-50%);
      -moz-transform: rotate(-45deg) translateY(-50%);
      -ms-transform: rotate(-45deg) translateY(-50%);
      -o-transform: rotate(-45deg) translateY(-50%);
      -webkit-transform: rotate(-45deg) translateY(-50%);
      border-left: 1px solid #366DFC;
      border-top: 1px solid #366DFC;
      content: "";
    }

    button {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  &__header {
    position: relative;
    svg {
      margin-top: -4px;
    }

   > div {
      display: flex;
    }
  }

  &__desc {
    margin-bottom: 15px;
    color: #5182FF;
    font-size: 14px;
    line-height: 1;
    @include AcuminproR;
  }

  &__item {
    padding-top: 46px;
    padding-bottom: 40px;
    border-top: 1px solid #EEEEEE;
  }

  &__item--checkbox {
    margin-top: 45px;

    .curation-evaluation__header > div {
      align-items: center;
      justify-content: space-between;
    }

    .dropdown__title span  {
      width: 100%;
      text-align: center;
      color: #DDDDDD;
      @include RotaB;
    }
    .dropdown__item:hover {
      color: #5F44FF;
    }

    .dropdown__item span {
     text-align: center; 
     font-size: 20px;
     @include RotaB;
    }
  }

  &__item--input + &__item--input {
    margin-top: 40px;
  }

  &__item--buttons {
    display: flex;
    margin-top: 30px;
    padding-bottom: 105px;

    .button--gray-line {
      width: 200px;
    }

    .button--black {
      width: 430px;
      height: 60px;
      margin-left: 20px;
    }
  }

  .side-regist__inputs {
    padding-bottom: 0;
  }

  &__inputs {
    position: relative;
    width: 100%;
    height: 70px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    box-sizing: border-box;

    input {
      width: 100%;
      height: calc(100% - 2px);
      padding-left: 75px;
      padding-right: 80px;
      color: #000000;
      font-size: 36px;
      text-align: right;
      border: none;
      border-radius: 5px;
      @include RotaB;
    }

    input::placeholder {
      color: #dddddd;
    }

    svg {
      position: absolute;
      top: 28px;
      left: 28px;
    }

    span {
      position: absolute;
      top: 23px;
      right: 24px;
      padding: 5px 9px;
      color: #888888;
      font-size: 15px;
      line-height: 1;
      background: #8888881A;
      border-radius: 2px;
      @include RotaB;
    }
  }

  &__inputs--disabled {
    background-color: #F4F4F4;
    border: none;

    input::placeholder {
      color: #888888;
    }
  }
}

.bubble-description {
  position: absolute;
  width: 575px;
  margin-left: - 30px;
  padding: 30px;
  border: 1px solid #F4F4F4;
  border-radius: 6px;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 25px 40px 0px #DCDCDC40;
  z-index: 9;
  
  &::before {
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: #ffffff;
    top: 100%;
    right: 50%;
    transform:           rotate( 45deg ) translateY(-50%);
      -moz-transform:    rotate( 45deg ) translateY(-50%);
      -ms-transform:     rotate( 45deg ) translateY(-50%);
      -o-transform:      rotate( 45deg ) translateY(-50%);
      -webkit-transform: rotate( 45deg ) translateY(-50%);
    border-bottom: 2px solid #F4F4F4;
    border-right: 2px solid #F4F4F4;
    content: "";
  }

  p:nth-child(1) {
    margin-bottom: 10px;
    font-size: 16px;
    @include RotaB;
  }

  p:nth-child(2) {
    margin-bottom: 25px;
    color: #888888;
    font-size: 12px;
    line-height: 15px;
    @include AcuminproR;
  }
}

.disabled-status {
  margin-top: 25px;
}

.textarea_box--disabled {
  div {
    width: 100%;
    height: 100%;
    padding: 12px 16px 35px;
    background-color: #F4F4F4;
    border: none;
    border-radius: 5px;
    color: #DDDDDD;
    box-sizing: border-box;
  }
}

.curation_dialog {
  display: flex;
  gap: 36px;
  .dialog_left {
    width: 40%;
  }
  .dialog_right {
    width: calc(60% - 36px);
    padding: 0 50px 50px 50px;
    background-color: #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 15px 40px 0px rgb(187 187 187 / 15%);
  }

  .curation-evaluation__item:first-of-type {
    border-top: none;
    padding-bottom: 80px;
  }

  .textarea_box {
    width: 100%;
    height: 166px;
    padding: 12px 16px;
    border: 1px solid #DDDDDD;
    background-color: #ffffff;
    border-radius: 5px;
    color: #000000;
    font-size: 16px;
    box-sizing: border-box;
    @include AcuminproR;
  }

  .curation-evaluation__inputs {
    background-color: #F4F4F4;
    border: none;

    p {
      width: 100%;
      height: calc(100% - 2px);
      padding-left: 75px;
      padding-right: 80px;
      color: #000000;
      font-size: 36px;
      text-align: right;
      line-height: 70px;
      @include RotaB;
    }
  }

  .curation-evaluation__item--checkbox .curation-evaluation__header > div {
    justify-content: flex-start;

  }

  .year {
    width: 216px;
    height: 60px;
    margin-left: 20px;
    background-color: #F4F4F4;
    border-radius: 5px;
    color: #000000;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    @include RotaB;
  }

  .year-text {
    margin-left: 15px;
    color: #000000;
    font-size: 20px;
    @include RotaB;
  }

  .curation-evaluation__item--buttons {
    justify-content: center;
  }

  .bubble-description {
    &::before {
      display: block;
      position: absolute;
      width: 13px;
      height: 13px;
      background-color: #ffffff;
      top: 0;
      right: 50%;
      margin-top: -3px;
      transform:           rotate( 45deg ) translateY(-50%);
        -moz-transform:    rotate( 45deg ) translateY(-50%);
        -ms-transform:     rotate( 45deg ) translateY(-50%);
        -o-transform:      rotate( 45deg ) translateY(-50%);
        -webkit-transform: rotate( 45deg ) translateY(-50%);
      border-right: none;
      border-bottom: none;
      border-top: 2px solid #F4F4F4;
      border-left: 2px solid #F4F4F4;
      content: "";
    }
  }
}